<!--Footer for all pages-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<div id="footer">
    
    <span>
        This website is developed and designed by Digital Bharat Solutions.
    </span>
    <br>
    <span>
        Please contact us for any copyright or develpment information @ rohitbca2019@gmail.com or call us at +91-8819968904
    </span>
    <br>
    <span>
        All rights reserved : Digital Bharat Solutions Private Limited
    </span>
    <small> 
        <p class="card-text"></p>
        <p class="card-text"><small></small></p>
        <p class="card-text"></p>
    </small>
    
</div>