<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/admin_home.css">
</head>
<body>
  <div class="header-container"></div>
  <div class="main-body">
    <div class="left-panel"></div>
    <div class="right-panel"></div>
  </div>
</body>
</html>