body{
    background: linear-gradient(180deg, #0a807c 1%, #ebe6e6 30%, #f1f1ec 105%);
}

.header-container{

    width: 100%;
    height: 10%;
}

.body-container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.footer-container{

    width: 100%;
    height: 0%;
}

.left-side-panel{

    width: 15%;
    height: 100%;
}

.right-side-panel{
    width: 15%;
    height: 100%;
}

.center-body{
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 100%;

}
table{
    margin-top: 5%;
}

td, th{
    min-width: 120px;
    width: 10%;
}

@media screen and  (max-width: 560px){
    table{
        margin-top: 2%;
    }
    
    td, th{
        min-width: 75px;
        width: 10%;
        font-size: 0.7rem;
    }
    td{
        width: 9%;
        min-width: 72px
    }
    .left-side-panel{
        width: 0;
    }
    .right-side-panel{
        width: 0;
    }
    .center-body{
        width: 100%;
        height: 100%;
    }
    .btn-danger{
        font-size: 0.6rem !important;
        padding: 4% !important;
    }
    .footer-container{
        height: 0;
    }
}
